.intro{
    background-image: url("../img/h_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:200px 200px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 30px;
    padding-bottom: 50px;
}
.img1{
    padding-top: 100px;

}
.about, p{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
.serv{
    background-image: url("../img/s_image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding:150px 150px;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}
h3{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.what{
    text-align: center;
    padding-top: 3%;
}
.column{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 10%;
    margin-left: 10%;
    padding-top: 5%;
}
.port{
    text-align: center;
    padding-top: 5%;
    margin-bottom: 5%;
}
#p{
    font-size: 25px;
}

#work1{
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#work2{
    cursor: pointer;
}
#work3{
    cursor: pointer;
}
#work4{
    cursor: pointer;
}
#work5{
    cursor: pointer;
}
#work6{
    cursor: pointer;
}
#work7{
    cursor: pointer;
}
#work8{
    cursor: pointer;
}


/* @media screen and (max-width:600px){
    .column2{
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}
.card2{
    padding: 16px;  
} */

#d{
    font-size: 10px;
}

/* #p{
    font-size: 25px;
    text-align: center;
    margin-top: 350px;
} */

.cont{
        background-image: url("../img/c_image.jpg");
        background-position: center;
        background-repeat: no-repeat;
        padding:200px 200px;
        color: white;
        text-align: center
        font-family: 'Roboto', sans-serif;

}
h5{
    margin-top: 10px;
    text-align: center;
    font-size: 35px;
}

.cont-control{
    background-color: #0000;
    border-radius: 0px;
    border-radius: 1px solid white;
}
.footer{
    text-align: center;
}
